body {
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
    padding: 0;
    background-color: rgb(245, 247, 248);
}

.main{
    display: flex;
}


h1 {
    color: rgb(3, 0, 12);
    text-align: center;
}

form {
    background-color:rgb(160, 62, 91);
    margin: auto;
    border-radius: 8px;
    max-width: 700px;
    padding: 25px;
}
.form-group {
    margin-bottom: 15px; 
}

fieldset {
    margin-bottom: 25px;
    border-radius: 12px;
    padding: 19px;
    background-color: rgb(160, 62, 91);
    color: rgb(241, 241, 241);
}

legend {
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

input,
textarea {
    margin-top: 5px;
    padding: 6px;
    box-sizing: border-box;
    border: 2px solid #010410;
    border-radius: 6px;
    width: calc(100% - 12px);
}

#skill {
    margin-bottom: 10px; 
}

#add-skill {
    margin-top: 10px;
}

#skills-list {
    margin-top: 10px; 
    list-style-type: none; 
    padding: 0; 
}

#skills-list li {
    background-color: #e0e0e0; /* Background for each skill */
    margin: 5px 0; /* Space between skills */
    padding: 5px; /* Padding for skill items */
    border-radius: 4px; /* Rounded corners */
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    align-items: center;
}

button {
    padding: 12px;
    border-radius: 6px;
    border: none;
    background-color: rgb(247, 244, 245);
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    width: 50%; /* Adjust the width as needed */
    font-size: 19px;
    color: rgb(160, 62, 91);
}

button:hover {
    background-color:rgb(211, 119, 147);
    color: rgb(247, 244, 245);

}

#resumeOutput {
    border-radius: 8px;
    max-width: 650px;
    padding: 25px;
    box-shadow: 0 5px 7px 5px rgba(19, 28, 36, 0.489);
    border: 2px solid #01040d ;
    background-color: whitesmoke;
    margin-top: 30px;
}

#resumeOutput h2 {
    color: rgb(0, 3, 9)
}

#resumeOutput h3 {
    color: rgb(0, 3, 9);
    font-size: 20px;
    font-family: sans-serif;
}